<% if current_user != nil %>
	<h1><%= current_user.username %>'s Feed</h1>
<% end %>

<div class="row">
	<% @following_tweets.each do |tweet| %>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
			<p><%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %></p>
		</div>

		<div class="panel-body">
			<p><%= tweet.message.html_safe %></p>

			<p><%= time_ago_in_words(tweet.created_at) if Time.now - 
				tweet.created_at < 86400%></p>
			<p><%= tweet.created_at.strftime('%b%e') if Time.now -
				tweet.created_at >= 86400 %></p>
			</div>
		</div>
	</div>
<% end %>
</div>