<h1><%= @user.username %>'s Profile</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>
<%= link_to "Following", following_path(id: @user.id) %> |
<%= link_to "Followers", followers_path(id: @user.id) %>

<% if current_user.following.include?(@user.id) %>
	<%= link_to "Following", unfollow_path(id: @user.id), 
	class: "btn btn-primary unfollow-btn" %>
<% else %>
	<% if current_user.id !=@user.id %>
		<%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
	<% end %>
<% end %>

<% @user.tweets.each do |tweet| %>
<div class="well">
	<p><%= tweet.user.username %></p>
	<p><%= tweet.message %></p>
</div>
<% end %>